.service-panel {
    margin: 0 auto;
    width: 350px;
    margin-top: 65px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.transfer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    transition: transform 0.25s;
}

.transfer:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.transfer-card {
    background: rgba(199, 196, 17, 0.066);
    box-shadow: 0px 0px 15px rgba(199, 196, 17, 0.3);
}

.transfer-card-icon {
    width: 46px;
    height: 46px;
    background: url('../../img/svg/transfer-card.png') no-repeat;
    background-size: 46px 46px;
}