.profile_cards-history {
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.148);
    height: 500px;
    width: 685px;
}

.cards-history-container {
    /* margin-top: 20px; */
    max-height: 500px;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        display: none;
    }
}

/*---- start ico ---- */

.tranfer-history {
    width: 42px;
    height: 42px;
    margin-top: 29px;
    position: relative;
    border-radius: 30%;
}
        
.transfer-history-ico {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: 11px;
    left: 11px;
}

/*---- end ico ---- */

.data__transaction {
    margin: 0;
    display: flex;
    height: 100%;
    width: 160px;
    align-items: center;
}

.trnsaction_user_name {
    margin-left: 20px;
}

.data-logo {
    background: url('../../img/svg/calendar-ico2.png') no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    margin-top: 0px;
    margin-right: 10px;
}


.group_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group_date {
    display: inline-block;
    font-size: 19px;
    min-width: 100px;
    max-width: 150px;
    margin: 0 auto;
    color: rgba(139, 139, 139, 0.685);
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.load_more {
    display: block;
    background-color: rgba(0, 0, 0, 0.148);
    border: none;
    width: 100px;
    border-radius: 10px;
    height: 40px;
    margin: 0 auto;
}

.load_more:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 12px rgba(135, 135, 135, 0.203);
    cursor: pointer;
}

.spinner_more {
    display: block;
    background-color: rgba(0, 0, 0, 0.148);
    border: none;
    width: 100px;
    border-radius: 10px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.spinner_more:hover {

    pointer-events: none;
    cursor: not-allowed;
}

.trnsaction_user_img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.group_container {
    transition: opacity 0.5s ease-in-out;
}

.group_container.loading {
    opacity: 0.7;
}

.fade-enter {
    opacity: 0;
}

.button_container{ 
    height: 40px;
    margin-bottom: 10px;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
}