.profile_cards-history {
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.148);
    height: 500px;
    width: 685px;
}

.cards-history-container {
    margin-top: 40px;
    max-height: 400px;
    overflow-y: auto;

    /* Повне видалення полоси прокрутки для WebKit-браузерів (Chrome, Safari) */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    /* transparent color for thumb and track */

    /* Видалення стандартного елемента прокрутки у WebKit-браузерах */
    &::-webkit-scrollbar {
        display: none;
    }
}

.spent_money,
.arrived_money {
    width: 560px;
    height: 100px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.148);
    border-radius: 15px;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.320);
}

.data__transaction,
.spent__amount,
.arived__amount {
    font-size: 18px;
    margin-top: 38px;
}

/*---- start ico ---- */

.tranfer-history {
    width: 42px;
    height: 42px;
    margin-top: 29px;
    position: relative;
    border-radius: 30%;
}

.arived-logo {
    background: rgba(83, 150, 109, 0.111);
    box-shadow: 0px 0px 15px rgba(22, 100, 51, 0.373);
}

.spent-logo {
    background-color: rgba(94, 53, 164, 0.111);
    box-shadow: 0px 0px 15px rgba(94, 53, 164, 0.373);
}

.arived-logo-ico {
    background: url('../../img/svg/income-ico.png') no-repeat;
}

.spent-logo-ico {
    background: url('../../img/svg/extence-icon.png') no-repeat;
}

.transfer-history-ico {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: 11px;
    left: 11px;
}

/*---- end ico ---- */

.data__transaction {
    display: flex;
}

.data-logo {
    background: url('../../img/svg/calendar-ico2.png') no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    margin-top: 0px;
    margin-right: 10px;
}

.arived__amount {
    color: rgba(2, 114, 2, 0.643);
}

.spent_money,
.arrived_money {
    transition: transform 0.15s;
}

.spent_money:hover,
.arrived_money:hover {
    transform: scale(1.025);
    cursor: pointer;
}