.profile_cards-history {
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.148);
    height: 500px;
    width: 685px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; */
}

.cards-history-container {
    /* margin-top: 20px; */
    max-height: 500px;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        display: none;
    }
}

.spent_money,
.arrived_money {
    width: 560px;
    height: 100px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.148);
    border-radius: 15px;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.320);
}

.data__transaction,
.spent__amount,
.arived__amount {
    font-size: 18px;
    margin-top: 38px;
}

/*---- start ico ---- */

.tranfer-history {
    width: 42px;
    height: 42px;
    margin-top: 29px;
    position: relative;
    border-radius: 30%;
}

.arived-logo {
    background: rgba(83, 150, 109, 0.111);
    box-shadow: 0px 0px 15px rgba(22, 100, 51, 0.373);
}

.spent-logo {
    background-color: rgba(94, 53, 164, 0.111);
    box-shadow: 0px 0px 15px rgba(94, 53, 164, 0.373);
}

.arived-logo-ico {
    background: url('../../img/svg/income-ico.png') no-repeat;
}

.spent-logo-ico {
    background: url('../../img/svg/extence-icon.png') no-repeat;
}

.transfer-history-ico {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: 11px;
    left: 11px;
}

/*---- end ico ---- */

.data__transaction {
    display: flex;
}

.data-logo {
    background: url('../../img/svg/calendar-ico2.png') no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    margin-top: 0px;
    margin-right: 10px;
}

.arived__amount {
    color: rgba(2, 114, 2, 0.643);
}

.group_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group_date {
    display: inline-block;
    font-size: 19px;
    min-width: 100px;
    max-width: 150px;
    margin: 0 auto;
    color: rgba(139, 139, 139, 0.685);
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}



.spent_money,
.arrived_money {
    transition: transform 0.15s;
}

.spent_money:hover,
.arrived_money:hover {
    transform: scale(1.025);
    cursor: pointer;
}


.load_more {
    display: block;
    background-color: rgba(0, 0, 0, 0.148);
    border: none;
    width: 100px;
    border-radius: 10px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.load_more:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 12px rgba(135, 135, 135, 0.203);
    cursor: pointer;
}

.spinner_more {
    display: block;
    background-color: rgba(0, 0, 0, 0.148);
    border: none;
    width: 100px;
    border-radius: 10px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.spinner_more:hover {

    pointer-events: none;
    cursor: not-allowed;
}