.modal_container {
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(2, 2, 2, 0.599);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 440px;
    width: 660px;
    border-radius: 18px;
    position: absolute;
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(14, 14, 14);
    border: 30px;
    z-index: 101;
}

.modal-element {
    margin-bottom: 40px;
    display: flex;
    width: 660px;
    justify-content: space-evenly;
    align-items: center;
}

.close_modal {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
}

.profile_info {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_info {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    width: 205px;
    border: 1px solid;
    box-shadow: 1px 1px 10px rgb(66, 21, 98);
}

.sum-info {
    padding-bottom: 0px;
    margin-bottom: 14px;
}

.recipient-sum {
    font-size: 28px;
    color: rgb(17, 92, 44);
}

.sender-sum {
    font-size: 28px;
    /* color: rgb(66, 21, 98); */
}

.modal_info{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    bottom: 20px;
    width: 85%;
}
.date {
    color: rgba(200, 200, 200, 0.823);
    bottom: 10px;
    left: 40px;
    width: 200px;
    margin-top: 23px;
    font-size: 14px;
}

.send-sum {
    color: rgb(67, 19, 100);
}

.button_info{ 
    width: 80px;
    align-items: center;
    font-size: 14px;
    display: flex;

}

.button {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: center;
    font-size: 14px;
    bottom: 10px;
    right: 10px;
    border: none;
    height: 30px;
    width: 100px;
    background: url('../../img/svg/again.png') no-repeat;
    background-size: 30px 30px;
    cursor: pointer;
}


.button:hover {
    transform: scale(1.1);
}

.profile_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.profile_name {
    margin-top: 25px;
    font-size: 24px;
}

.user_card {
    font-size: 16px;
    margin-top: 25px;
}

.sender {
    box-shadow: 0px 0px 30px rgb(17, 77, 39);
}

.recipient {
    box-shadow: 0px 0px 30px rgb(75, 21, 113);
}