.conntainer-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_container-login {
    background-color: rgba(0, 0, 0, 0.148);
    width: 550px;
    height: 400px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.title_login {
    padding: 20px;
}

.form_container {
    background-color: rgba(0, 0, 0, 0.148);
    width: 500px;
    height: 350px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}


.input {
    margin: 0 auto;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: #131313;
    outline: none;
    border:none;
    text-align: center;
}

.input_login {
    margin-bottom: 35px;
}

.form_btn {
    margin: 0 auto;
    margin-top: 50px;
    outline: none;
    background-color: #131313;
    color: white;
    border: none;
    width: 130px;
    height: 35px;
    font-size: 20px;
    border-radius: 7px;
}

.form_sign-in {
    text-decoration: none;
    margin-left: 400px;
    margin-top: 30px ;
}




.form_login {
    margin-top: 40px ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.error-message-name {
    position:absolute;
    left: 75px;
    top: 160px;
    font-size: 14px;
    color: red;
}

.error-message-pass {
    position:absolute;
    left: 75px;
    top: 238px;
    font-size: 14px;
    color: red;
}

/*--- hover ---*/

.input:focus {
    outline: none;
    box-shadow: 0px 0px 15px rgba(154, 154, 154, 0.203);
}

.form_btn:hover {
    box-shadow: 0px 0px 15px rgba(154, 154, 154, 0.203);
    opacity: .9;
    cursor: pointer;
}
.form_sign-in:hover{
    cursor:pointer;
    opacity: .75;
}