.conntainer-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 550px;
    max-height: 400px;
    width: 100%;
    height: 100%; 
}

.form_container-login {
    background-color: rgba(0, 0, 0, 0.148);
    padding: 30px 50px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.title_login {
    font-size: 24px;
    margin: 0px;
    
}

.form_container {
    background-color: rgba(0, 0, 0, 0.148);
    width: 500px;
    height: 350px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}


.input {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: #131313;
    outline: none;
    border: none;
    text-align: center;
}

.input_login {
    margin-bottom: 35px;
}

.input_pass {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form_btn {
    margin: 0 auto;
    margin-top: 50px;
    outline: none;
    background-color: #131313;
    color: white;
    border: none;
    max-width: 130px;
    width: 100%;
    height: 35px;
    font-size: 20px;
    border-radius: 7px;
}

.form_sign-in {
    text-decoration: none;
    padding-bottom: 20px;
}

.form_login {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.error-message-name {
    position:absolute;
    left: 75px;
    top: 160px;
    font-size: 14px;
    color: red;
}

.error-message-pass {
    position:absolute;
    left: 75px;
    top: 238px;
    font-size: 14px;
    color: red;
}

/*--- hover ---*/

.input:focus {
    outline: none;
    box-shadow: 0px 0px 15px rgba(154, 154, 154, 0.203);
}

.form_btn:hover {
    box-shadow: 0px 0px 15px rgba(154, 154, 154, 0.203);
    opacity: .9;
    cursor: pointer;
}

.form_sign-in:hover {
    cursor: pointer;
    opacity: .75;
}

.errorMessage {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    text-align: center;
    color: rgba(94, 53, 164);
    font-size: 21px;

}

.inputError {
    box-shadow: 0px 0px 10px 1px rgba(94, 53, 164, 0.329);
    outline: none;
}


.inputError:focus {
    box-shadow: 0px 0px 10px 1px rgba(94, 53, 164, 0.329);
    outline: none;
}

.error {
    text-align: center;
    color: rgb(94, 53, 164);
}